* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.logo-mario {

    height: 200px;

}

.imagem-mario-luid {

    height: 500px;

}

body {

    height: 100vh;

}

.caixa-principal {

    width: 50%;

}

.caixa-video {

    position: fixed;
    z-index: -1;
    top: 0;

}

video {

    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.caixa-mae {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;

}

.cabeçalho img {

    height: 60px;

}

.mascara {

    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

.link-whatsapp img {

    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

button {

    color: wheat;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;

}

.cabeçalho {

    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.cabeçalho a {

    color: wheat;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;

}

.cabeçalho a:hover {

    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;

}

button:hover {

    color: #c51111;
    background-color: wheat;
    font-size: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

p {
    color: white;
}

.formulario-fale-conosco {

    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
}

input {

    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;

}

textarea {

    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
    height: 100px;
    width: 270px;

}

.mascara-formulario {

    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;

}

@media(max-width:1100px) {

    p {

        display: none;

    }

    .caixa-mae {

        flex-direction: column;
        padding: 10px;
justify-content: flex-start;
    }

    .caixa-principal {

        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .imagem-mario-luid {

        width: 80vw;
        height: auto;


    }

    .cabeçalho {

        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cabeçalho img {

        display: none;
    }

    .cabeçalho a {

        font-size: 20px;


    }






}